mopp/t0-harmonic-progression-sum/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t0-harmonic-progression-sum.pdb
mopp/t0-harmonic-progression-sum/libhostfxr.so
mopp/t0-harmonic-progression-sum/libhostpolicy.so
mopp/t0-harmonic-progression-sum/t0-harmonic-progression-sum
mopp/t0-harmonic-progression-sum/t0-harmonic-progression-sum.dll
mopp/t0-harmonic-progression-sum/t0-harmonic-progression-sum.pdb
mopp/t0-harmonic-progression-sum/t0-harmonic-progression-sum.deps.json
mopp/t0-harmonic-progression-sum/t0-harmonic-progression-sum.runtimeconfig.json
mopp/t0-harmonic-progression-sum/t0-harmonic-progression-sum.runtimeconfig.dev.json
mopp/t0-harmonic-progression-sum/obj/project.assets.json
mopp/t0-harmonic-progression-sum/obj/t0-harmonic-progression-sum.csproj.nuget.cache
mopp/t0-harmonic-progression-sum/obj/t0-harmonic-progression-sum.csproj.nuget.g.props
mopp/t0-harmonic-progression-sum/obj/t0-harmonic-progression-sum.csproj.nuget.g.targets
mopp/t0-harmonic-progression-sum/obj/Debug/netcoreapp2.0/t0-harmonic-progression-sum.AssemblyInfo.cs
mopp/t0-harmonic-progression-sum/obj/Debug/netcoreapp2.0/t0-harmonic-progression-sum.AssemblyInfoInputs.cache
mopp/t0-harmonic-progression-sum/obj/Debug/netcoreapp2.0/t0-harmonic-progression-sum.csproj.CoreCompileInputs.cache
mopp/t0-harmonic-progression-sum/obj/Debug/netcoreapp2.0/t0-harmonic-progression-sum.csprojResolveAssemblyReference.cache
mopp/t0-harmonic-progression-sum/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t0-harmonic-progression-sum.dll
mopp/t0-harmonic-progression-sum/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t0-harmonic-progression-sum.AssemblyInfo.cs
mopp/t0-harmonic-progression-sum/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t0-harmonic-progression-sum.AssemblyInfoInputs.cache
mopp/t0-harmonic-progression-sum/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t0-harmonic-progression-sum.csproj.CoreCompileInputs.cache
mopp/t0-harmonic-progression-sum/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t0-harmonic-progression-sum.csproj.FileListAbsolute.txt
mopp/t0-harmonic-progression-sum/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t0-harmonic-progression-sum.csprojAssemblyReference.cache
mopp/t0-harmonic-progression-sum/obj/netcoreapp2.0/ubuntu.16.04-x64/host/t0-harmonic-progression-sum
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
mopp/t1-transitive-closure/obj/t1-transitive-closure.csproj.nuget.cache
mopp/t1-transitive-closure/obj/project.assets.json
mopp/t1-transitive-closure/obj/t1-transitive-closure.csproj.nuget.g.props
mopp/t1-transitive-closure/obj/t1-transitive-closure.csproj.nuget.g.targets
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/t1-transitive-closure.AssemblyInfo.cs
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/t1-transitive-closure.AssemblyInfoInputs.cache
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/t1-transitive-closure.csproj.CoreCompileInputs.cache
mopp/t1-transitive-closure/obj/netcoreapp2.0/ubuntu.16.04-x64/host/t1-transitive-closure
mopp/t1-transitive-closure/libhostfxr.so
mopp/t1-transitive-closure/libhostpolicy.so
mopp/t1-transitive-closure/t1-transitive-closure
mopp/t1-transitive-closure/t1-transitive-closure.dll
mopp/t1-transitive-closure/t1-transitive-closure.pdb
mopp/t1-transitive-closure/t1-transitive-closure.deps.json
mopp/t1-transitive-closure/t1-transitive-closure.runtimeconfig.json
mopp/t1-transitive-closure/t1-transitive-closure.runtimeconfig.dev.json
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t1-transitive-closure.dll
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t1-transitive-closure.pdb
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t1-transitive-closure.AssemblyInfo.cs
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t1-transitive-closure.AssemblyInfoInputs.cache
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t1-transitive-closure.csproj.CoreCompileInputs.cache
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t1-transitive-closure.csproj.FileListAbsolute.txt
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/ubuntu.16.04-x64/t1-transitive-closure.csprojAssemblyReference.cache
mopp/t1-transitive-closure/bin/Debug/netcoreapp2.0/t1-transitive-closure.deps.json
mopp/t1-transitive-closure/transitive_closure
mopp/t1-transitive-closure/bin/Debug/netcoreapp2.0/t1-transitive-closure.dll
mopp/t1-transitive-closure/bin/Debug/netcoreapp2.0/t1-transitive-closure.pdb
mopp/t1-transitive-closure/bin/Debug/netcoreapp2.0/t1-transitive-closure.runtimeconfig.json
mopp/t1-transitive-closure/bin/Debug/netcoreapp2.0/t1-transitive-closure.runtimeconfig.dev.json
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/t1-transitive-closure.dll
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/t1-transitive-closure.pdb
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/t1-transitive-closure.csproj.FileListAbsolute.txt
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/t1-transitive-closure.csprojAssemblyReference.cache
mopp/t1-transitive-closure/obj/Debug/netcoreapp2.0/t1-transitive-closure.csprojResolveAssemblyReference.cache
mopp/t1-transitive-closure/.vscode/launch.json
mopp/t1-transitive-closure/.vscode/tasks.json
mopp/t3-mandelbrot-set/obj/project.assets.json
mopp/t3-mandelbrot-set/obj/t3-mandelbrot-set.csproj.nuget.cache
mopp/t3-mandelbrot-set/obj/t3-mandelbrot-set.csproj.nuget.g.props
mopp/t3-mandelbrot-set/obj/t3-mandelbrot-set.csproj.nuget.g.targets
mopp/t3-mandelbrot-set/obj/Debug/netcoreapp2.0/t3-mandelbrot-set.AssemblyInfo.cs
mopp/t3-mandelbrot-set/obj/Debug/netcoreapp2.0/t3-mandelbrot-set.AssemblyInfoInputs.cache
mopp/t3-mandelbrot-set/obj/Debug/netcoreapp2.0/t3-mandelbrot-set.csproj.CoreCompileInputs.cache
mopp/t3-mandelbrot-set/obj/Debug/netcoreapp2.0/t3-mandelbrot-set.csprojResolveAssemblyReference.cache
mopp/t3-mandelbrot-set/bin/Debug/netcoreapp2.0/t3-mandelbrot-set.runtimeconfig.json
mopp/t3-mandelbrot-set/.vscode/launch.json
mopp/t3-mandelbrot-set/.vscode/tasks.json
mopp/t3-mandelbrot-set/bin/Debug/netcoreapp2.0/t3-mandelbrot-set.dll
mopp/t3-mandelbrot-set/bin/Debug/netcoreapp2.0/t3-mandelbrot-set.pdb
mopp/t3-mandelbrot-set/bin/Debug/netcoreapp2.0/t3-mandelbrot-set.deps.json
mopp/t3-mandelbrot-set/bin/Debug/netcoreapp2.0/t3-mandelbrot-set.runtimeconfig.dev.json
mopp/t3-mandelbrot-set/obj/Debug/netcoreapp2.0/t3-mandelbrot-set.dll
mopp/t3-mandelbrot-set/obj/Debug/netcoreapp2.0/t3-mandelbrot-set.pdb
mopp/t3-mandelbrot-set/obj/Debug/netcoreapp2.0/t3-mandelbrot-set.csproj.FileListAbsolute.txt
mopp/t3-mandelbrot-set/obj/Debug/netcoreapp2.0/t3-mandelbrot-set.csprojAssemblyReference.cache
mopp/t5-shortest-superstring/.vscode/launch.json
mopp/t5-shortest-superstring/.vscode/tasks.json
mopp/t5-shortest-superstring/bin/Debug/netcoreapp2.0/t5-shortest-superstring.dll
mopp/t5-shortest-superstring/bin/Debug/netcoreapp2.0/t5-shortest-superstring.pdb
mopp/t5-shortest-superstring/bin/Debug/netcoreapp2.0/t5-shortest-superstring.deps.json
mopp/t5-shortest-superstring/bin/Debug/netcoreapp2.0/t5-shortest-superstring.runtimeconfig.json
mopp/t5-shortest-superstring/bin/Debug/netcoreapp2.0/t5-shortest-superstring.runtimeconfig.dev.json
mopp/t5-shortest-superstring/obj/project.assets.json
mopp/t5-shortest-superstring/obj/t5-shortest-superstring.csproj.nuget.cache
mopp/t5-shortest-superstring/obj/t5-shortest-superstring.csproj.nuget.g.props
mopp/t5-shortest-superstring/obj/t5-shortest-superstring.csproj.nuget.g.targets
mopp/t5-shortest-superstring/obj/Debug/netcoreapp2.0/t5-shortest-superstring.dll
mopp/t5-shortest-superstring/obj/Debug/netcoreapp2.0/t5-shortest-superstring.pdb
mopp/t5-shortest-superstring/obj/Debug/netcoreapp2.0/t5-shortest-superstring.AssemblyInfo.cs
mopp/t5-shortest-superstring/obj/Debug/netcoreapp2.0/t5-shortest-superstring.AssemblyInfoInputs.cache
mopp/t5-shortest-superstring/obj/Debug/netcoreapp2.0/t5-shortest-superstring.csproj.CoreCompileInputs.cache
mopp/t5-shortest-superstring/obj/Debug/netcoreapp2.0/t5-shortest-superstring.csproj.FileListAbsolute.txt
mopp/t5-shortest-superstring/obj/Debug/netcoreapp2.0/t5-shortest-superstring.csprojAssemblyReference.cache
mopp/t5-shortest-superstring/obj/Debug/netcoreapp2.0/t5-shortest-superstring.csprojResolveAssemblyReference.cache
mopp/t4-k-means-clustering/obj/Debug/netcoreapp2.0/t4-k-means-clustering.csprojResolveAssemblyReference.cache
mopp/t4-k-means-clustering/.vscode/launch.json
mopp/t4-k-means-clustering/.vscode/tasks.json
mopp/t4-k-means-clustering/bin/Debug/netcoreapp2.0/t4-k-means-clustering.dll
mopp/t4-k-means-clustering/bin/Debug/netcoreapp2.0/t4-k-means-clustering.pdb
mopp/t4-k-means-clustering/bin/Debug/netcoreapp2.0/t4-k-means-clustering.deps.json
mopp/t4-k-means-clustering/bin/Debug/netcoreapp2.0/t4-k-means-clustering.runtimeconfig.json
mopp/t4-k-means-clustering/bin/Debug/netcoreapp2.0/t4-k-means-clustering.runtimeconfig.dev.json
mopp/t4-k-means-clustering/obj/project.assets.json
mopp/t4-k-means-clustering/obj/t4-k-means-clustering.csproj.nuget.cache
mopp/t4-k-means-clustering/obj/t4-k-means-clustering.csproj.nuget.g.props
mopp/t4-k-means-clustering/obj/t4-k-means-clustering.csproj.nuget.g.targets
mopp/t4-k-means-clustering/obj/Debug/netcoreapp2.0/t4-k-means-clustering.dll
mopp/t4-k-means-clustering/obj/Debug/netcoreapp2.0/t4-k-means-clustering.pdb
mopp/t4-k-means-clustering/obj/Debug/netcoreapp2.0/t4-k-means-clustering.AssemblyInfo.cs
mopp/t4-k-means-clustering/obj/Debug/netcoreapp2.0/t4-k-means-clustering.AssemblyInfoInputs.cache
mopp/t4-k-means-clustering/obj/Debug/netcoreapp2.0/t4-k-means-clustering.csproj.CoreCompileInputs.cache
mopp/t4-k-means-clustering/obj/Debug/netcoreapp2.0/t4-k-means-clustering.csproj.FileListAbsolute.txt
mopp/t4-k-means-clustering/obj/Debug/netcoreapp2.0/t4-k-means-clustering.csprojAssemblyReference.cache
